* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.page-wrapper {
    padding: 0 120px;
    display: flex;
    flex-direction: column;
}

.header__container {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 13px;
    padding-bottom: 70px;

}

.header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__container-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    gap: 10px;
}

.header__container-lang {
    font-family: 'Tourney';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 18px;
    letter-spacing: 0.04em;
    cursor: pointer;

}

.header__container-nav-item {
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.03em;
    mix-blend-mode: normal;
    color: #000000;
    text-decoration: none;
}


.main__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 90px;
    gap: 70px;
}



.article__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
}

.article__content-heading-title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.article__content-heading-divider {
    width: 100px;
    height: 8px;
    background: #000000;
}

.article__content-heading-title-h2 {
    font-family: 'Francois One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
}

.article__content-heading-title-chapter {
    font-family: 'Farro';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #000000;
}

.article__content-heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}

.article__content-text {

    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    color: #000000;
}

.bold {
    font-weight: 700;
}


